<% provide(:title, @user.name) %>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" style="text-align:center">
    <h1>Perfil de <%= @user.name %></h1>
		<h4>Nombre: <%= @user.name %></h4>
		<h4>Email: <%= @user.email %></h4>
		<h4><%= link_to "Editar Perfil", edit_user_registration_path %></h4>

  </div>

  <div class="col-sm-2"></div>
 </div>
