<% provide(:title, 'Votes') %>

	<%@votes.each do |vote|%>
		<% descript = vote.user_id.to_s + " voted for " + vote.topic_id.to_s %>
		<h2><%= link_to descript , vote_path(vote)%></h2>
	<% end %>

	<%= link_to "Add Vote", new_vote_path %>
