<% provide(:title, 'Votes') %>

	<%@votes.each do |vote|%>
		<% descript = User.find(vote.user_id).name + " voted for " + Topic.find(vote.topic_id).name %>
		<h2><%= link_to descript , vote_path(vote)%></h2>
	<% end %>
